<html><head>
    <title></title>

</head>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<link href="/stylesheets/form.css" rel="stylesheet" /> 
<body>
<div class="edit">
        <div class="container-contact1">
    <form action="" class="form-container" >
          <h1><%= expenses.name %> pocket  </h1>
          <label for="amount"><b><i>Amount :</i> <%= expenses.amount %> </b></label><br><br><br>
          <span class="shadow-input1"></span>
          <a href="/editexpense/<%= expenses._id %>"><button type="button" class="btn" >Edit</button>
        <a href="/removeexpense/<%= expenses._id %>"><button type="button" class="btn" >Delete</button>
            </a>
</form>
</div>
</div>
</body>
</html>