<html><head>
    <title></title>

</head>
<br>
<br>

<br>
<br>
<br>
<br>

<link href="/stylesheets/form.css" rel="stylesheet" /> 
<body>
<div class="edit">
        <div class="container-contact1">
    <form action="" class="form-container" >
          <h1><%= incomes.name %> pocket </h1>
          <label for="amount"><b>Amount :</i><%= incomes.amount %> </b></label><br><br>
          <span class="shadow-input1"></span>
          <a href="/edit/<%= incomes._id %>"><button type="button" class="btn" >Edit</button>
        <a href="/remove/<%= incomes._id %>"><button type="button" class="btn" >Delete</button>
            </a>
</form>
</div>
</div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5dbea11ae4c2fa4b6bd9bc8c/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>