<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/stylesheets/expense.css" rel="stylesheet"> 
</head>
<body>

<h2>Clickable Dropdown</h2>
<p>Click on the button to open the dropdown menu.</p>

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Immediate Obligations</button>
  <div id="myDropdown" class="dropdown-content">
    <div><h3></h3>ADD the pocket</h3>
        <button class="add" onclick="add()">+</button>
            <div class="form-popup" id="add">
                <form action="" class="form-container">
                    <h1>ADD THE POCKET</h1>
                    <label for="name"><b>NAME</b></label>
                    <input type="text" placeholder="pocket name" name="name" required>
                    <button type="submit" class="btn">Enter</button>
                    <button type="button" class="btn cancel" onclick="closeadd()">Close</button>
                </form>
            </div>  
            </div>  
            <div class='rent'>
                    <button class="open-button" onclick="openedit()">Rent</button>
                    <div class="form-popup" id="myedit">
                      <form action="" class="form-container">
                            <h1>EDIT POCKET</h1>
                            <label for="name"><b>NAME</b></label>
                            <label for="amount"><b>AMOUNT</b></label>
                       <a href = '/form'><input type="button" class="btn " value="Edit"></a> </form></div>
                       
                    </div>

    
  </div>
</div>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
/*window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
//*/

function add(){
  document.getElementById("add").style.display="block";
}
function closeadd(){
  document.getElementById("add").style.display="none";
}

function openForm(){
  document.getElementById("myForm").style.display="block";
}
function closeForm(){
  document.getElementById("myForm").style.display="none";
}
function openedit(){
  document.getElementById("myedit").style.display="block";
}
function closeedit(){
  document.getElementById("myedit").style.display="none";
}
function twoclick(){
  openForm();
  closeedit();

}
</script>

</body>
</html>