<html><head>
    <title>dbchjdb</title>

</head>
<!--<link href="/stylesheets/form.css" rel="stylesheet" /> -->
<body>

    <form action="" class="form-container">
          <h1>BUSINESS POCKET</h1>
          <label for="name"><b>NAME</b></label><br>
          <input type="text" value="BUSINESS" name="name" required><br>
          <label for="amount"><b>AMOUNT</b></label><br>
          <input type="text" placeholder="Enter Value" name="ammount" required><br>
  <button type="button" class="btn" onclick="">Submit</button>
</form>
</div>
</body>
</html>