<html>
    <head><title>saving</title></head>
    <link href="/stylesheets/saving.css" rel="stylesheet">
    <body class="color">
        <div class="mainblock">
        <a class="closemain" href="/home">&times;</a>
        <div class="amountsaved">
            <h2>You Have Saved</h2>
            <input type="text" class="input1"> </input>
            <br>
            <br>
            <br>
        </div>
        <div class="goalwas">
                <h2>Your Goal was</h2>
                <input type="text" class="input1"> </input>
                <br>
                <br>
                <br>
            </div>
            <div class="box">
                    <a class="button" href="#popup1">ok</a>
                </div>
                
                <div id="popup1" class="overlay">
                    <div class="popup">
                        <h2>Here i am</h2>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            Thank to pop me out of that button, but now i'm done so you can close this window.
                        </div>
                    </div>
                </div>
        </div>
    </body>

</html>