<head>
    <link href="/stylesheets/setgoal.css" rel="stylesheet">
</head>
<section class = "goalbody">
    <h1>Set your Goals</h1>
    <div class="box">
    <button  onclick="openForm()"> <a href="#popup1">set goals</a></button>
    </div>
    <div id="popup1" class="overlay">
     <div class="popup">.
       <div class="container">
       <div class="row">
         <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
           <div class="card card-signin my-5" >
             <div class="card-body">
               <h5 class="card-title text-center">Set Goals</h5>
               <form class="form-signin">
                 <div class="form-label-group">
                   <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                   <label for="inputEmail">Expenses Goal </label>
                 </div>
                 <div class="form-label-group">
                   <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                   <label for="inputPassword">Saving goal</label>
                 </div>
                 <div class="custom-control custom-checkbox mb-3">
                   <input type="checkbox" class="custom-control-input" id="customCheck1">
                   <button  position="left">Edit</button>
                   <button position="right">Delete</button>
                 </div>
                 <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" onclick="closeForm()">Set</button>
               </form>
             </div>
           </div>
         </div>
       </div>
     </div>
    </body>
    </div>
    </div>
    </section>
    <script type="text/javascript">
     function closeForm(){
       document.getElementById("popup1").style.display = "none";
     }
     function openForm(){
       document.getElementById("popup1").style.display = "block";
     }
    </script>
    